{#
/**
 * @file
 * Default theme implementation to embed a libsyn url.
 *
 * Available variables:
 * - title: The podcast title.
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - url: The href
 *
 * @see template_preprocess_media_libsyn_embed()
 *
 * @ingroup themeable
 */
#}
<iframe title="{{ title }}" width="{{ width }}" height="{{ height }}" scrolling="no" frameborder="no" src="{{ url }}" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
